.white {
    width: 11vh;
    height: 11vh;
    background: white;
}
.black {
    width: 11vh;
    height: 11vh;
    background: black;
}
table {
    border: 5px solid brown;
    border-collapse: collapse;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}